<div class="home-page__outer-container">
  <div class="home-page__inner-container">
    <h2 class="main-title">About ToDoApp</h2>
    <div class="home-page__main">
      <p class="home-page__main-text">
        ToDoApp will help you to concentrate on all your tasks
      </p>
      <a
        class="home-page__main-btn bubbly-button"
        mat-raised-button
        [routerLink]="['/', 'todos']"
        >Getting started</a
      >
      <a
        mat-raised-button
        href="https://github.com/OleksandrMutiev/ToDoApp"
        target="_blank"
        class="home-page__main-btn bubbly-button"
        >About</a
      >
    </div>
  </div>
</div>
