$white: #ffffff;
$pre_white: #fdecf0;
$light_green: #b8ff40;
$light_yellow: #ffae00;
$light_red: #fd3f49;
$violet: #b60cff;
$pink: #e91e63;
$main: #303030;
$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;
